<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="./output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <footer class="bg-orange-300/70 px-16 sticky bottom-0">
      <div class="max-w-7x1 mx-auto px-4">
        <div class="grid grid-cols-4 gap-4">
          <div class="flex justify-between items-center">
            <a href="#"
              ><img src="/src/img/logo_2.png" alt="โลโก้ขายยังไง" class="m-5"
            /></a>
          </div>
          <div
            class="hidden sm:hidden md:flex flex-col md:col-span-2 xl:col-span-1 md:mx-auto my-auto mx-0 gap-8"
          >
            <a href="#" class="text-gray-700 text-base">
              <i
                class="fab fa-facebook-f text-gray-700 hover:text-gray-900 text-3xl hover:text-4xl"
              ></i>
              <span>&nbsp; Facebook: ขายยังไง</span>
            </a>
            <a href="#" class="text-gray-700 text-base">
              <i
                class="fas fa-envelope text-gray-700 hover:text-gray-900 text-3xl hover:text-4xl"
              ></i>
              <span>&nbsp; Email: KaiYaiNgai@gmail.com</span>
            </a>
            <a href="#" class="text-gray-700 text-base">
              <i
                class="fas fa-phone text-gray-700 hover:text-gray-900 text-3xl hover:text-4xl"
              ></i>
              <span>&nbsp; เบอร์โทรศักท์: 091-xxx-xxxx</span>
            </a>
          </div>
          <div
            class="hidden sm:hidden xl:grid grid-cols-4 gap-6 my-16 xl:col-span-2"
          >
            <div class="flex flex-col gap-2">
              <h3 class="border-b-2 border-gray-600 text-base">ติดต่อเรา</h3>
              <div class="text-sm">
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  >สนับสนุน</a
                >
              </div>
            </div>
            <div class="hidden sm:hidden xl:flex flex-col gap-2">
              <h3 class="border-b-2 border-gray-600 text-base">เกี่ยวกับเรา</h3>
              <div class="text-sm">
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>วิสัยทัศน์</p></a
                >
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>ผู้พัฒนา</p></a
                >
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>เกี่ยวกับเว็บไซต์</p></a
                >
              </div>
            </div>
            <div class="hidden sm:hidden xl:flex flex-col gap-2">
              <h3 class="border-b-2 border-gray-600 text-base">เมนู</h3>
              <div class="text-sm">
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>หน้าแรก</p></a
                >
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>เช็คราคาผลไม้</p></a
                >
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>ข่าวสาร</p></a
                >
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>ร้านผลไม้ใกล้ฉัน</p></a
                >
              </div>
            </div>
            <div class="hidden sm:hidden xl:flex flex-col gap-2">
              <h3 class="border-b-2 border-gray-600 text-base">ความปลาดภัย</h3>
              <div class="text-sm">
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>นโยบายการใช้คุกกี้</p></a
                >
                <a href="#" class="text-gray-700 hover:text-gray-900"
                  ><p>นโยบาลข้อมูล</p></a
                >
              </div>
            </div>
          </div>
          <!-- Mobile Menu Button -->
          <button
            class="xl:hidden md:flex flex-col p-2 rounded-md text-gray-700 bg-white hover:bg-gray-100 m-auto"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>
      </div>
      <!-- Mobile Menu -->
      <div class="hidden xl:hidden md:p-4">
        <div class="grid grid-cols-4 gap-6">
          <div class="flex flex-col gap-2">
            <h3 class="border-b-2 border-gray-600 text-base">ติดต่อเรา</h3>
            <div class="text-sm">
              <a href="#" class="text-gray-700 hover:text-gray-900">สนับสนุน</a>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <h3 class="border-b-2 border-gray-600 text-base">เกี่ยวกับเรา</h3>
            <div class="text-sm">
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>วิสัยทัศน์</p></a
              >
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>ผู้พัฒนา</p></a
              >
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>เกี่ยวกับเว็บไซต์</p></a
              >
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <h3 class="border-b-2 border-gray-600 text-base">เมนู</h3>
            <div class="text-sm">
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>หน้าแรก</p></a
              >
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>เช็คราคาผลไม้</p></a
              >
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>ข่าวสาร</p></a
              >
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>ร้านผลไม้ใกล้ฉัน</p></a
              >
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <h3 class="border-b-2 border-gray-600 text-base">ความปลาดภัย</h3>
            <div class="text-sm">
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>นโยบายการใช้คุกกี้</p></a
              >
              <a href="#" class="text-gray-700 hover:text-gray-900"
                ><p>นโยบาลข้อมูล</p></a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
