<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <hr>
    <footer class="max-w-7x1 mx-auto px-4">
      <div class="flex justify-between items-center h-16">
        <h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
          praesentium sit rem totam, iure amet iste corporis voluptas ea
          quisquam blanditiis nulla a doloribus quia culpa itaque sint. Ipsam,
          reiciendis.

        </h2>
      </div>
    </footer>
  </body>
</html>
