<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <section class="font-['Kanit']">
      <div class="container mx-auto px-4 py-8 max-w-6x1 mt-32">
        <div class="flex flex-row items-center justify-between mb-8 gap-16">
          <div class="flex flex-col items-start justify-center">
            <div class="flex items-center">
              <h1 class="text-5xl font-bold text-green-900">ข่าวสาร</h1>
            </div>
          </div>
        </div>
        <div class="bg-lime-500/40 rounded-3xl text-green-900 p-8">
          <p class="text-4xl font-medium mt-2">
            "มังคุดไทย" ส่งออกเติบโตทุบสถิติ ยืนหนึ่งในตลาดโลก!
          </p>
          <p class="text-2xl font-normal mt-4 px-3">
            ข้อมูลโดย
            <a
              href="https://www.pptvhd36.com/onlineeditor"
              class="underline hover:text-green-950"
              >PPTV Online</a
            >
            เผยแพร่: 4 ต.ค 2567
          </p>
          <div class="rounded-3xl bg-white p-8 mt-8">
            <img
              src="/src/img/มังคุด.jpg"
              alt="มังคุด"
              class="w-full h-auto mt-4 px-16"
            />
            <div class="px-16 mx-16 text-2xl mt-5 font-['Sarabun']">
              <p class="text-left indent-8 leading-relaxed">
                นายพูนพงษ์ นัยนาภากรณ์
                ผู้อำนวยการสำนักงานนโยบายและยุทธศาสตร์การค้า (สนค.)
                กระทรวงพาณิชย์
                เปิดเผยสถานการณ์ส่งออกเผลไม้ที่ไทยยังครองตำแหน่งผู้นำส่งออกอันดับ
                1 ของโลก ซึ่งไทยส่งออกมากถึง 91% (รวมผลสดและแปรรูป)
                ขณะที่การบริโภคในประเทศมีเพียง 9% เท่านั้น
              </p>
              <p class="text-left indent-8 mt-2 leading-relaxed">
                โดยปี 2566 ส่งออกไปจีนมากกว่า 90%
                ของมูลค่าการส่งออกมังคุดทั้งหมด รองลงมาคือ เวียดนาม ฮ่องกง
                เกาหลีใต้ และสหรัฐอเมริกาตามลำดับ
              </p>
              <div class="shadow-md text-base p-8 text-justify">
                <p>
                  “ ในปี 2566 จีนนำเข้ามังคุดจากไทยมีมูลค่าเพิ่มขึ้น
                  แต่พบว่าสัดส่วนการนำเข้าจากไทยลดลงเล็กน้อย
                  ขณะที่มูลค่าการนำเข้าและสัดส่วนการนำเข้าจากอินโดนีเซียเพิ่มขึ้น
                  ไทยจึงจำเป็นต้องรักษาคุณภาพและยกระดับการผลิต
                  รวมทั้งกระจายตลาดเพื่อลดความเสี่ยงจากการพึ่งพาตลาดหลัก
                  ทั้งนี้นอกจากไทย อินโดนีเซีย และมาเลเซีย
                  ปัจจุบันจีนอนุญาตให้นำเข้ามังคุดได้จากอีก 2 ประเทศ คือ
                  เวียดนาม และเมียนมา.....นายพูนพงษ์ กล่าว “
                </p>
              </div>
            </div>
          </div>
          <div class="flex flex-row items-center justify-between mt-8 gap-4">
            <div
              class="bg-gray-100 flex flex-row p-4 rounded-3xl hover:drop-shadow-xl"
            >
              <a href=""
                ><img
                  src="/src/img/Untitled-1.jpg"
                  alt="ลำใย-ลิ้นจี่"
                  class="w-64 h-auto object-cover group-hover:rounded-3xl aspect-square rounded-3xl"
              /></a>
              <div class="p-8">
                <p class="text-2xl font-['Sarabun'] mt-4 ml-4 font-semibold">
                  ลำใยมากขึ้น แต่ลิ้นจี่ลดลง
                </p>
                <p class="text-left indent-8 mt-2 leading-relaxed">
                  ชาวสวนหันมาปลูกลำใยกันมากขึ้นและด้วยสภาพ
                  อากาศทำให้ลิ้นจี่ออกผลได้น้อยกว่าปีที่แล้ว
                </p>
              </div>
            </div>
            <div
              class="bg-gray-100 flex flex-row p-4 rounded-3xl hover:drop-shadow-xl"
            >
              <a href=""
                ><img
                  src="/src/img/logo_2.png"
                  alt="ลำใย-ลิ้นจี่"
                  class="w-64 h-auto object-cover group-hover:rounded-3xl aspect-square"
              /></a>
              <div class="p-8">
                <p class="text-2xl font-['Sarabun'] mt-4 ml-4 font-semibold">
                  xxxxx
                </p>
                <p class="text-left indent-8 mt-2 leading-relaxed">
                  xxxxxxxxxxxxxxxxxxxxxxxxx
                </p>
              </div>
            </div>
            <div
              class="bg-gray-100 flex flex-row p-4 rounded-3xl hover:drop-shadow-xl"
            >
              <a href=""
                ><img
                  src="/src/img/logo_2.png"
                  alt="ลำใย-ลิ้นจี่"
                  class="w-64 h-auto object-cover group-hover:rounded-3xl aspect-square"
              /></a>
              <div class="p-8">
                <p class="text-2xl font-['Sarabun'] mt-4 ml-4 font-semibold">
                  xxxxxxxx
                </p>
                <p class="text-left indent-8 mt-2 leading-relaxed">
                  xxxxxxxxxxxxxxxxxxxxxx
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="/src/FAQ.html">
        <div
          id="help-icon"
          class="fixed bottom-6 right-6 w-12 h-12 bg-gray-200 rounded-full flex items-center justify-center shadow-lg cursor-pointer hover:bg-gray-300 transition-all z-50 mr-5"
        >
          <span class="text-2xl font-bold">?</span>
        </div>
      </a>
    </section>
  </body>
</html>
